@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  background-color: #F0F0F6;
  color: #2B2C30;
  padding: 17px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}

input {
  background: #F0F0F6;
  border-radius: 8px;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 8px;
}

.fullWidthInput {
  height: 30px;
  width: 500px;
  margin-top: 23px;
  margin-bottom: 23px;
}

input::-webkit-input-placeholder {
  color: #2B2C307F;
}

input:-ms-input-placeholder {
  color: #2B2C307F;
}

input::-ms-input-placeholder {
  color: #2B2C307F;
}

input::placeholder {
  color: #2B2C307F;
}

.card {
  background-color: #FFFFFF;
  border-radius: 17px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

.btn {
  background-color: #2F80ED;
  color: #F0F0F6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 135px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.icon {
  display: inline-block;
  cursor: pointer;
}

#shortenBtn {
  position: absolute;
  right: 35px;
}

#shorten {
  padding: 35px;
  height: 172px;
  position: relative;
}

#settings {
  padding: 35px;
  margin-top: 23px;
  position: relative;
}

#settingsTabs {
  width: 100%;
}

.settings.icon {
  padding-right: 17px;
}

.optionsInput {
  padding: 8px;
  height: 20px;
  width: 100%;
  margin-top: 8px;
}

.optionsLabel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding-top: 8px;
  padding-right: 17px;
}

#settingsOptions {
  width: 516px;
}

#urlDisplay {
  width: calc(100% + 70px);
  margin-top: 17px;
  height: 35px;
  margin-left: -35px;
  margin-bottom: -35px;
  background-color: #2F80ED;
  padding: 35px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 0;
}

#displayUrl {
  width: 500px;
  height: 20px;
  padding: 8px;
  background-color: #1973EB;
  border-radius: 8px;
  position: relative;
}

#displayUrl p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #F0F0F6;
}

#displayOptions {
  position: absolute;
  right: 17px;
  top: 6px;
}

#displayOptions .icon {
  padding-left: 8px;
  color: #F0F0F6;
}

#links {
  width: 586px;
  height: 100vh;
  margin-top: 23px;
}

@media (min-width: 1137px) {
  #links {
    position: fixed;
    bottom: 0;
    right: 23px;
    height: calc(100vh - 25px);
    width: calc(100vw - 655px);
    border-radius: 35px 35px 0 0;
  }
}

#links #logo {
  width: 50px;
  padding: 23px;
  padding-right: 8px;
  vertical-align: middle;
}

#links #listTop {
  width: 100%;
  background-color: #2F80ED;
}

#links #listTop .icon {
  color: #F0F0F6;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

#links #listTop p {
  display: inline-block;
  padding: 23px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #F0F0F6;
  font-size: 20px;
  margin: 0;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.link {
  width: 100%;
  padding: 17px;
  padding-bottom: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-bottom: #2B2C307F 1px solid;
}

.link .slug {
  padding-left: 17px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.link .icon {
  padding-left: 17px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.link .target {
  width: calc(100% - 150px);
  padding-left: 17px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.link:hover {
  background-color: #f0f0f674;
}

#linkList {
  overflow-y: scroll;
}
/*# sourceMappingURL=dashboard.css.map */