// Light Colors
$primaryLight: #FFFFFF;
$secondaryLight: #F0F0F6;

$primaryTextLight: #2B2C30;
$placeholderTextLight: #2B2C307F;

// Dark Colors
$primaryDark: #FFFFFF;
$secondaryDark: #F0F0F6;

$primaryTextDark: #2B2C30;
$placeholderTextDark: #2B2C307F;

// Agnostic Colors
$primaryAccent: #2F80ED;
$secondaryAccent: #1973EB;

$secondaryText: #F0F0F6;