@import 'colors';
@import 'fonts';
@import 'radii';

body {
    background-color: $secondaryLight;
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center
}

h1 {
    @include font(600);
    color: $primaryTextLight;
    margin: 0;
}

.card {
    background-color: $primaryLight;
    border-radius: $mediumRadius;
    width: fit-content;
    overflow: hidden;
}

#signInCard {
    padding: 35px;
}

p, #explainationText{
    @include font(400);
    width: 350px;
    color: $primaryTextLight;
    margin-bottom: 0;
    margin-top: 23px;
}

textarea {
    background: #F0F0F6;
    border-radius: $smallRadius;
    outline: none;
    border: none;
    @include font(400);
    padding: 17px;
    font-size: 16px;
    resize: none;
}

#authKey {
    height: 200px;
    width: 350px;
    margin-top: 23px;
    margin-bottom: 23px;
}

textarea::placeholder {
    color: $placeholderTextLight;
}

textarea:focus {
    box-shadow: inset 0px 0px 0px 2px $primaryAccent;
}

.btn {
    background-color: $primaryAccent;
    color: $secondaryText;
    @include font(600);
    width: calc(100% - 35px);
    padding: 17px;
    text-align: center;
    border-radius: $smallRadius;
    cursor: pointer;
    font-size: 18px;
}

.icon {
    vertical-align: middle;
}

#signInIcon {
    padding-left: 8px;
}

#helpIcon {
    color: $primaryTextLight;
    font-size: 16px;
    padding-left: 6px;
    cursor: help;
    user-select: none;
}

.tooltiptext {
    visibility: hidden;
	position: absolute;
	background: $primaryLight;
    border: 2px solid $primaryAccent;
    border-radius: 8px;
    padding: 8px;
    z-index: 100;
    transform: translate(29px, -17px);
    font-size: 12px;
    user-select: none;
}
.tooltiptext:after, .tooltiptext:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltiptext:after {
	border-color: rgba(240, 240, 246, 0);
	border-bottom-color: $primaryLight;
	border-width: 5px;
    margin-left: -5px;
}
.tooltiptext:before {
	border-color: rgba(47, 128, 237, 0);
	border-bottom-color: $primaryAccent;
	border-width: 8px;
    margin-left: -8px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 600px) {

    #authKey {
        height: 200px;
        width: 280px;
    }

    p, #explainationText{
        width: 280px;
    }
    
    .btn {
        width: 280px;
    }

    .tooltiptext:after, .tooltiptext:before {
        left: 40.5%;
    }
}

@media (max-width: 350px) {

    #authKey {
        height: 200px;
        width: 220px;
    }

    p, #explainationText{
        width: 220px;
    }
    
    .btn {
        width: 220px;
    }

    .tooltiptext:after, .tooltiptext:before {
        left: 74.5%;
    }
}
